html, body {
    width: 100%;
    height: 100%;
    font-family: 'EB Garamond', serif;
}

body {
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
	background-color: #000000;
	
}
@font-face {
	font-family: 'Orator Std';
	src: url('assets/fonts/OraterStd.otf');
}

.container {
	float: left;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	/* Main page background image */
	background: url("assets/images/background.JPG") no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: 2px 2px #000000;
}

h1 {
	font-size: 128px;
	text-align: center;
	color: #ffffff;
	letter-spacing: 12px;
	line-height: 20vh;
}
h2 {
	font-size: 64px;
	text-align: center;
	color: #ffffff;
	letter-spacing: 15px;
}
h3 {
	text-align: center;
	color: #ffffff;
	letter-spacing: 3px;
}
.navi {
	margin: 0 auto; 
	width: 100%;
	line-height: 40vh;
	text-align: center;
	padding-bottom: 100vh;
}
.icon {
	float: center;
	display:inline-block;
	margin-right: 5px;
	
	
	height: 150px;
	width: 150px;
	line-height:150px;
	
	color: #ffffff;
	font-size: 150%;
	text-shadow: 1px 1px #000000;
	text-align:center;

	border-radius: 50%;
	border: 7px solid #ffffff;

	cursor: pointer; cursor: hand; 
}
.icon:hover {
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer; cursor: hand; 
}

.back-icon {
	cursor: pointer; cursor: hand; 
}

/* Class for next icons */
.small {
	display: inline-block; 
	right-padding: 10px;

	width: 75px; 
	height: 75px; 
	line-height:75px; 
	
	font-size: 100%;
	text-shadow: 1px 1px #000000;
	text-align: center;
	color: #ffffff; 
	
	border-radius: 50%; 
	border: 5px solid #ffffff; 
}
.small:hover {
	background-color: rgba(0, 0, 0, 1);
	cursor: pointer; cursor: hand; 
}

.section {
	float: left;
	text-align: center;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
    background-color: rgba(0, 0, 0, 0.65);
}

.content {
	font-size: 16pt;
	
	display: inline-block; 
	margin: 0 auto; 
	float: center;

	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 15%;

	width: 555.5px;
}
#about-content, #about-content-container {
	text-align: left;
}

#background1 {
	width: 44%; 
	padding: 10px; 
	float: left; 
	display: inline-block;
	text-align: left;
}

#background2 {
	width: 44%; 
	height: 100%; 
	padding: 10px; 
	float: left; 
	display: inline-block;
	text-align: left;
}
#website-by-me {
	padding: 10px; 
	float: left; 
	display: inline-block;
}

#about-nav, #art-nav {
	padding: 5px; 
	width: 170px; 
	float: right; 
	text-align: right;
}
#about-back, #about-next {
	float:right;
}

#art-content-container {
	text-align: center;
	float: center;
}

#art-back, #art-next {
	float: right; 
	display: inline-block;
}
/* unvisited link */
a:link {
    color: rgba(100, 100, 255, 1);
    cursor: pointer; cursor: hand; 
}

/* visited link */
a:visited {
    color: rgba(100, 100, 255, 1);
    cursor: pointer; cursor: hand; 
}

/* mouse over link */
a:hover {
    color: rgba(255, 100, 255, 1);
    cursor: pointer; cursor: hand; 
}

/* selected link */
a:active {
    color: rgba(100, 100, 255, 1);
    cursor: pointer; cursor: hand; 
}

/* Slideshow styling */
#photo-slideshow { 
    position: relative; 
    padding: 1px; 
    width: 100%;
    padding-bottom: 100%; 
    float: left;
}

/* Selects children of slideshow div, aka. image slides */
#photo-slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#modeling-slideshow { 
    position: relative; 
    padding: 1px; 
    padding-bottom: 100%; 
    width: 100%; 
    float: left;
}

/* Selects children of slideshow div, aka. image slides */
#modeling-slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#studies-slideshow { 
    position: relative; 
    padding: 1px; 
    padding-bottom: 100%; 
    width: 100%; 
    float: left;
}

/* Selects children of slideshow div, aka. image slides */
#studies-slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

/* Turns slide class into circles */
.circle-slides {
	border-radius: 50%;
}

/* Photo slides */
#photo-image1 {
	background: url(assets/images/art/photo/IMG_3936.JPG) no-repeat center center;
	background-size: cover;
}
#photo-image2 {
	background: url(assets/images/art/photo/IMG_4687.JPG) no-repeat center center;
	background-size: cover;
}
#photo-image3 {
	background: url(assets/images/art/photo/IMG_2553.JPG) no-repeat center center;
	background-size: cover;
}

#photo-image4 {
	background: url(assets/images/art/photo/IMG_5308.JPG) no-repeat center center;
	background-size: cover;
}

#photo-image5 {
	background: url(assets/images/art/photo/IMG_5313.JPG) no-repeat center center;
	background-size: cover;
}

#photo-image6 {
	background: url(assets/images/art/photo/IMG_5309.JPG) no-repeat center center;
	background-size: cover;
}

#photo-image7 {
	background: url(assets/images/art/photo/IMG_5307.JPG) no-repeat center center;
	background-size: cover;
}
#photo-image8 {
	background: url(assets/images/art/photo/IMG_5314.JPG) no-repeat center center;
	background-size: cover;
}
#photo-image9 {
	background: url(assets/images/art/photo/IMG_5312.JPG) no-repeat center center;
	background-size: cover;
}

#cities-section {
	padding-top: 20px;
}
#procedural-cities {
	text-align: left;
}

#procedural-cities {
	text-align: left;
}

#coloVR {
	text-align: left;
}
#align-icon {
	text-align: center;
}
#procedural-cities-icon {
	display: inline-block;
	width: 200px; 
	height: 200px; 
	line-height: 200px; 
	border-radius: 50%; 
	border: 7px solid #ffffff; 
	text-align: center;
}

#modeling-icon {
	display: inline-block;
	width: 200px; 
	height: 200px; 
	line-height: 200px; 
	border-radius: 50%; 
	border: 7px solid #ffffff; 
	text-align: center;
}
#studies-icon {
	display: inline-block;
	width: 200px; 
	height: 200px; 
	line-height: 200px; 
	border-radius: 50%; 
	border: 7px solid #ffffff; 
	text-align: center;
}

